@import  "../././utility/color-variables.scss";
.mainbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    height: 12rem;
    @include theme('color', $primary-text-color);
    @include theme('background-color', $general-background);   
     .top-mainbar {
        width: 100%;
        height: 40%;

        .search-container {
            display: flex;
            padding: 1rem;

        }
    }
    .bottom-mainbar {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        display: flex;
        .left-mainbar-side{

        
        }
        .right-mainbar-side{

            
        }
    }
}